{port_env, [
	{"darwin", "DRV_CXX_TEMPLATE", "$CXX -undefined dynamic_lookup $CXXFLAGS $DRV_CFLAGS $PORT_IN_FILES -o $PORT_OUT_FILE"},
    {"CXX",      "g++"},
    {"CXXFLAGS", "$CXXFLAGS "
                    "-O2 -Wall -std=c++11 " 
                    "./c_src/rocksdb/librocksdb.a " 
                    "-I./c_src/rocksdb/include "
    },
    {"PORT_OUT_FILE", "priv/rocksdb.so"},
    {"LDFLAGS",     "$LDFLAGS -lstdc++"}
]}.

{port_specs, [
    {"priv/rocksdb.so", ["c_src/*.cc"]}
]}.

{pre_hooks, [{compile, "c_src/build_rocksdb.sh"}]}.

